@import url('https://fonts.googleapis.com/css?family=Roboto');

@font-face {
  font-family: "open";
  font-style: normal;
  font-weight: 300;
  src: local("Open Sans Light"), local("OpenSans-Light"), url(https://themes.googleusercontent.com/static/fonts/opensans/v6/DXI1ORHCpsQm3Vp6mXoaTZ1r3JsPcQLi8jytr04NNhU.woff) format('woff');
  font-family: sans-serif;
	font-family: 'Roboto', sans-serif;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  display: block;
  margin: auto;
  margin-top: 50px;
  text-decoration: none;
  color: inherit;
}



@keyframes electronic {
  
  0%, 100% {
    background-position: 20px -30px;
  }
  25% {
    background-position: 150px 5px;
  }
  50% {
    background-position: 20px 40px;
  }
  75% {
    background-position: -100px 5px;
  }
  
}

.biliboard {
  width: 140px;
  padding: 20px;
  text-align: center;
  position: relative;
  background: #fff;
  color: #333;
  font: 13px open, tahoma;
}
.biliboard:before {
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  border-radius: 3px;
  transform: scale( 1.02, 1.08 );
  position: absolute;
  background:red;
  background: linear-gradient( 90deg, #fafafa, #fafafa, #1D8EF7, #fafafa, #fafafa );
  background-position: 55px 0;
  top: 0;
  animation: linear 1s infinite linear;
  left: 0;
  z-index: -1;
}

.biliboard.electronic:before {
  background: radial-gradient( skyblue, skyblue, skyblue, skyblue, #fafafa, #fafafa ) no-repeat;
  background-size: 150px 50px;
  animation: electronic 2s infinite linear;
}

.FixImageCard {

  height: 3%;
}
